doctype html
html
  head
    title= "Login - Your App Name"
    link(rel="stylesheet", href="/style/login.css")
  body
    .login-container
      .logo
        img(src="/images/Udemy.png", alt="Your App Logo")
      .form-container
        h1 Login
        form(action='/login', method='post')
          .form-group
            label(for='name') Email:
            input(type='text', name='name', placeholder='Enter your email')
          .form-group
            label(for='password') Password:
            input(type='password', name='password', placeholder='Enter your password')
          button.btn-login(type='submit') Login
        .signup-link
          p Don't have an account?
          a(href='/') Sign up here
